% The symbols are followed by "Newton methods for Convolutional Neural Networks".
% For this example, 4 layers include 3 convolutional layers and 1 fully-connected layer.

L = 4;
LC = 3;
LF = 1;
wd_input = [28];
ht_input = [28];
ch_input = [1,32,64,64];
wd_pad_added = [2,1,1];
wd_filter = [5,3,3];
strides = [1,1,1];
wd_subimage_pool = [2,2,2];
full_neurons = [10];
